.game-container {
    margin-top: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    margin-right: 10px;
  }
  
  .start-button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .start-button:hover {
    background-color: #1d5cb2;
  }
  
  .new-game-button {
    margin-top: 20px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .new-game-button:hover {
    background-color: #27ae60;
  }
  